{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Registration</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Device Registration</h2>
            <form action="" method="POST">

                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="device_name" required>
                    <label for="id">Device Name </label>
                </div>
                
                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="serial_number" required>
                    <label for="id">Serial Number </label>
                </div>

                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="location" required>
                    <label for="id">Location </label>
                </div>

                <div class="input-container1">
                    {% csrf_token %}
                    Device Model :
                    <span><input type="radio" id="id1" name="model" value="jeevan_lite" required></span>
                    <span><label for="id1">Jeevan Lite</label></span>
                    <span><input type="radio" id="id2" name="model" value="duo_vent" required></span>
                    <span><label for="id2">Duo Vent</label></span>
                </div>

                <button type="submit" style="margin-top: 20px;">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
