{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Registration</title>
    <link rel="stylesheet" href="/static/css/styles.css">
<style>
    .input-container1 {
        margin-top: 15px;
    }
</style>
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Patient Registration</h2>
            <form action="" method="POST">

                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" value="{{ email }}" id="id" name="doctorid" required>
                    <label for="id">Doctor Id</label>
                </div>
                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" value="{{ patient_id }}" id="id" name="patientid" required>
                    <label for="id">Patient Id</label>
                </div>
                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="patient_name" required>
                    <label for="id">Patient Name</label>
                </div>
                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="patient_age" required>
                    <label for="id">Patient Age</label>
                </div>

                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="id" name="contact" required>
                    <label for="id">Patient Contact</label>
                </div>
                <div class="input-container1">
                    {% csrf_token %}
                    <label>Patient Gender</label>

                    <select name="patient_gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    {% csrf_token %}
                    <label>Emergency Status:</label>

                    <select name="emergency">
                        <option value="Yes">Emergency</option>
                        <option value="No">Non-Emergency</option>
                    </select>

                </div>
                <table>
                    <td>
                        <button type="submit" style="margin-top: 20px;">Submit</button>
                        <button type="submit" style="margin-top: 20px;">Assign this device</button>
                    
                    </td>
                </table>

            </form>
        </div>
    </div>
</body>
</html>
