<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Signup</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Doctor Signup</h2>
            <form action="" method="POST">
                <div class="input-container">
                    {% csrf_token %}
                    <input type="text" id="name" name="username" required>
                    <label for="name">Name</label>
                </div>
                <div class="input-container">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Mail</label>
                </div>
                <div class="input-container">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="login">Login here</a></p>
        </div>
    </div>
</body>
</html>
